<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
		xmlns:tools = "http://schemas.android.com/tools"
		package = "com.bqt.test.x">
	
	<application
			android:name = ".MyApplication"
			android:icon = "@mipmap/ic_launcher"
			android:label = "@string/app_name"
			android:roundIcon = "@mipmap/ic_launcher_round"
			android:supportsRtl = "true"
			android:theme = "@style/Theme.Test"
			tools:ignore = "AllowBackup,GoogleAppIndexingWarning">
		
		<activity
				android:name = "com.bqt.test.flutter.FlutterTestActivity"
				android:exported = "true">
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>
				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name = "io.flutter.embedding.android.FlutterActivity"
				android:configChanges = "orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
				android:hardwareAccelerated = "true"
				android:theme = "@style/MyTheme"
				android:windowSoftInputMode = "adjustResize"/>
		<activity android:name = "com.bqt.test.flutter.basic.FlutterFragmentActivity"/>
		<activity android:name = "com.bqt.test.flutter.channel.EventChannelActivity"/>
		<activity android:name = "com.bqt.test.flutter.channel.BasicMessageChannelActivity"/>
		<activity android:name = "com.bqt.test.flutter.channel.PigeonActivity"/>
		<activity android:name = "com.bqt.test.flutter.multiple.DoubleFlutterActivity"/>
		<activity android:name = "com.bqt.test.flutter.multiple.SingleFlutterActivity"/>
		<activity android:name = "com.bqt.test.flutter.multiple.MultFlutterTestActivity"/>
		<activity android:name = "com.bqt.test.flutter.channel.ChannelTestActivity"/>
		<activity android:name = "com.bqt.test.flutter.basic.BasicTestActivity"/>
		<activity android:name = "com.bqt.test.flutter.channel.MethodChannelActivity"/>
		<activity android:name = "com.bqt.test.flutter.channel.TaskQueueActivity"/>
	</application>
</manifest>